body {
  font-family: 'Junge', serif;
  height: 1,000px;
  background: linear-gradient(to left, #ffffff 0%, #ffcc66 100%)
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h1,h2,h3,h4{
  text-align:center;
}

p{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 400px;
  margin-left: 400px;
}
.special {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 400px;
  margin-left: 400px;
}

header::after {
  content:"";
  display:table;
  clear:both;
}

.logo{
  float: left;
  padding:10px 0;
}

nav{
  position:relative;
  float: right;
}

nav ul{
  margin:0;
  padding:0;
  list-style:none;
}

nav li{
  display: inline-block;
  margin:0 25px;
  padding-top:55px;

  position:relative;
}

nav a{
  color:#444;
  text-decoration:underline;
  text-transform: uppercase;
  font-size:14px;
}

nav a:hover{
  color:#000;
}

nav a::before{
  content:"";
  display:block;
  height:5px;
  width:100%
  backgoround-color:#444;

  position: absolute;
  top:0;
  width:0%

  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width:100%
}

img.resize {
  width:90px;
  height:80px;
  margin-left: 100px;
}
header{
  background-color: #f9ffe5;
  height:80px;
  box-shadow:0 2px 3px 0 rgba(0,0,0,.1);
}
